@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Khula:wght@600;800&family=Lobster&family=Merriweather:ital,wght@0,900;1,300;1,700&family=Nunito:ital,wght@0,800;1,700;1,800&family=Roboto:wght@100;400;500;700&family=Unbounded:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Khula:wght@600;800&family=Lobster&family=Merriweather:ital,wght@0,900;1,300;1,700&family=Nunito:wght@300;400;500;700&family=Roboto:wght@100;400;500;700&family=Unbounded:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { /* you can create custom classes applicable to whole app */
  .disabled {
    @apply opacity-50 cursor-not-allowed
  }
  .single-article h1{
    @apply text-3xl font-bold py-3
  }

  .single-article h2{
    @apply text-xl font-bold py-3
  }

   .single-article h2{
    @apply text-lg font-bold py-3
  }

  .single-article pre{
    @apply text-sm  text-green-500 overflow-auto bg-gray-100 my-6 font-semibold px-4 rounded-md
  }

  .single-article blockquote{
    @apply my-4 p-4 border-l-4 bg-gray-100 text-gray-500 border-primary
  }
}